

# MongoDB URI for the database
MONGODB_URI="mongodb+srv://social_post:<post123@cluster0.2fvzjqk.mongodb.net/?appName=Cluster0"

# Secret key for JWT authentication
JWT_SECRET="9fe0d001d42f5cf4423e39dc50640be35bcab9d39ac74d3a63664422ee5e72cd"
